body {
  background-color: #9877b4;
  color: #401b60;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
}

.content {
  background-color: #19c5c9;
  color: #000000;
  display: flex;
  padding: 15px;
}

p {
  margin: 0 15px;
}
